.interaction-zone {
  margin-top: 2.5rem;
  padding: 1.5rem;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.interaction-zone h3 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: white;
  border-bottom: 1px solid #444;
  padding-bottom: 1rem;
}
.interaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.interaction-item span {
  font-size: 1rem;
  color: #ccc;
}

/* Botones de Toggle */
.toggle-button {
  background-color: #444;
  color: #ccc;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s;
}
.toggle-button.active {
  background-color: #7b00ff;
  color: white;
  box-shadow: 0 0 10px rgba(123, 0, 255, 0.5);
}