/* src/components/Navbar.css */
.navbar {
  width: 100%; /* <-- AÑADE ESTO */
  box-sizing: border-box; /* <-- AÑADE ESTO */
  background-color: #121212; /* Fondo oscuro */
  padding: 1rem 2rem;
  border-bottom: 1px solid #222;
  height: 60px; /* Altura fija */
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-logo {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar-search {
  flex-grow: 1; /* Ocupa el espacio del medio */
  margin: 0 2rem;
  max-width: 500px; /* Ancho máximo */
}

.navbar-search input {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #222;
  border: 1px solid #333;
  border-radius: 20px; /* Bordes redondeados */
  color: white;
  font-size: 0.9rem;
  position: relative;
  flex-grow: 1; 
  max-width: 400px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #aaa;
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-link:hover {
  color: white;
}

.nav-link-button {
  background-color: #7b00ff; /* Púrpura */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.nav-link-button:hover {
  background-color: #9933ff;
  color: white;
}

.nav-username {
  color: #aaa;
  margin-right: 1.5rem;
  font-size: 0.9rem;
}

/* Esto ocupa el espacio de la barra de búsqueda cuando está oculta,
   para que los links de la derecha no se muevan al centro */
.navbar-search-spacer {
  flex-grow: 1; /* Ocupa el espacio del medio */
  margin: 0 2rem;
}
